<table class="table table-hover">
  <thead>
    <tr>
      <th>Time</th>
      <th>Died</th>
      <th>Bounty</th>
      <th>Killers</th>
    </tr>
  </thead>
  <tbody>
  <% for kill in kill_list %>
    <tr>
      <td><%= kill['tick'] %></td>
      <td><%= kill['hero'] %> <%= 'deny' if kill['deny'] %></td>
      <td><%= kill['bounty_gold'] %> gold, <%= kill['bounty_xp'] %> xp</td>
      <td>
      <% for killer in kill['killers'] %>
          <%= killer[0] %><br />
          <% for dmgsrc in killer[1] %>
            <%= dmgsrc[0] %> <%= dmgsrc[1] %><br />
          <% end %>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
