<table class="table table-hover matchlist">
  <thead>
    <tr>
      <th>Match Id</th>
      <th>Date</th>
      <th>League</th>
      <th>Teams</th>
      <th>Radiant</th>
      <th>Dire</th>
      <th>Duration</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.sort { |x,y| x['match_id'] <=> y['match_id']}.each do |match| %>
      <tr style="cursor: pointer;" onclick="document.location = '<%= match_url(match['match_id']) %>';">
        <td><%= match['match_id'] %></td>
        <td><%= unix_to_date(match['start_time']) %></td>
        <td><%= @league_hash[match['leagueid']] %></td>
        <td><%= "#{match['radiant_name']} vs #{match['dire_name']}" if match['radiant_name'] != 'Radiant' && match['dire_name'] != 'Dire' %></td>
        <td>
          <% for player in match['players'] %>
            <% if player['team'] == 'radiant' %>
              <%= content_tag :div, class: "#{player['hero_name']}-icon",
                    title: "#{player['player_name']}" do %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% for player in match['players'] %>
            <% if player['team'] == 'dire' %>
              <%= content_tag :div, class: "#{player['hero_name']}-icon",
                    title: "#{player['player_name']}" do %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td><%= sec_to_hms(match['duration']) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
