<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-8">
    <%= render partial: 'playback_slider',
        locals: {start_time: @match['positions']['time'][0],
                 end_time: @match['positions']['time'][-1]} %>
  </div>
  <div class="col-xs-4">
    <%= render 'playback_controls' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <%= render 'map' %>
  </div>
  <div class="col-lg-7">
    <%= render 'scoreboard' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <%= render 'eventlog' %>
  </div>
  <div class="col-lg-7">
    <%= render 'graphs' %>
  </div>
</div>
