<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-xs-12">
    <input type="range" name="time">
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <%= render 'map' %>
  </div>
  <div class="col-lg-7">
    <%= render 'scoreboard' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-5">
    <%= render 'eventlog' %>
  </div>
  <div class="col-lg-7">
    <%= render 'graphs' %>
  </div>
</div>
