<!DOCTYPE html>
<html>
<head>
  <title>Dota2rails</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
  <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->

</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Dota2Rails</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/matches">Public Matches</a></li>
      <li><a href="/mymatches">My Matches</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if session.key? :current_user %>
        <li><a href="#">Hi <%= session[:current_user][:nickname] %></a></li>
        <li><%= image_tag session[:current_user][:image] %></li>
        <li><a href="/logout">Logout</a></li>
      <% else %>
        <li><%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"), '/auth/steam' %></li>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<%= yield %>

</body>

<%#<%= javascript_include_tag params[:controller], "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-44956803-1']);
  _gaq.push(['_setDomainName', window.location.host]);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' :
      'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
